apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "animal-image-app.fullname" . }}
  labels:
    {{- include "animal-image-app.selectorLabels" . | nindent 4 }}
    {{- include "animal-image-app.common-labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
        {{- include "animal-image-app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
      {{- include "animal-image-app.selectorLabels" . | nindent 8 }}
      {{- include "animal-image-app.common-labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
          {{- include "helpers.list-env-variables" . | indent 12 }}
