<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Animal Image Retrieval</h2>

    <h3>Please select an animal</h3>
    <form method="POST">
        <select name="animal" id="animal" required>
            <option value="">-- Choose an option --</option>
            <option value="dog">Dog</option>
            <option value="duck">Duck</option>
            <option value="fox">Fox</option>
        </select>
        <button type="submit">Retrieve image</button>
    </form>
    {% if complete %}
        <h4>The process has been initiated. Please proceed to the Tasklist UI in Camunda to view the Camunda Form with the image.</h4>
    {% elif show_error_message %}
        <p>ERROR: {{ error_message }}</p>
    {% endif %}
</body>
</html>